* {
  direction: rtl;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Heebo";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #06b936;
}

.section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  /* border-radius: 0.5rem; */
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: rgb(219, 221, 222) 0px 0px 4px 1px, rgb(187, 193, 196) 0px 1px 15px 6px;
}

p {
  color: white;
}

p:hover {
  cursor: pointer;
}